<%= link_to "До об'єкту", pgo_path({:id =>  @pgo.id, :pan => 0}) %>
<%= link_to 'До списку', pgos_path({:book => @book.id, :page => getnumpage(@pgo.id, @book.id, 5)}) %>
<%=  render :partial => 'allpgo/goadmin'%>
<h1>Редагувати об'єкт погосподарського обліку</h1>
 <hr align="center" width="100%" color="#C0C0C0" />
<p>
  <b>Рада:</b>
  <%=  @council.name.to_s %>
</p>
<p>
  <b>Книга:</b>
  <%=  @book.numformat %>
</p>

<%= render 'form' %>


 <hr align="center" width="100%" color="#C0C0C0" />



