<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2>Помилок: <%= @book.errors.count %>. Необхідно виправити наступне:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label 'Номер книги' %><br />
    <%= f.number_field :num %>
  </div>
  <div class="field">
    <%= f.label 'Дата початку'%><br />
    <%= f.date_select :date_begin, :start_year => 1980 %>
  </div>
  <div class="field">
    <%= f.label 'Дата закінчення' %><br />
    <%= f.date_select :date_end , :start_year => 1980, :include_blank => true%>
  </div>
  <div class="field">
    <%= f.label 'Додаткові відомості' %><br />
    <%= f.text_area :comment,  :size => "50x5" %>
  </div>
  <div class="field">
    <%= number_field_tag("page", @page, {:type => "hidden"}) %>
     <%= number_field_tag("council", @council.id, {:type => "hidden"}) %>
  </div>
  </br> 

  <div class="actions" align="center">
    <%= f.submit 'Прийняти' %>
  </div>
<% end %>
