<!DOCTYPE html>
<html>
<head>
  <title><%=t :my_app_title%></title>
  <%= stylesheet_link_tag    "jquery-ui.css" %>
  <%= stylesheet_link_tag    "pagination.css" %>  
  <%= stylesheet_link_tag    "application" %>
</head>
<body>

<div class="first">
  <div id="gerc_fon">
     <%= yield %>
  </div>
</div> 
 
</body>
</html>
